<?xml version="1.0" encoding="UTF-8"?>
<launch>
<!-- Launches all necessary nodes that let the car drive autonomously. -->    
    <!-- wall_following node -->
    
    <node
      respawn="true"
      pkg="wallfollowing2"
      type="wallfollowing.py"
      name="wallfollowing"
      output="screen" >
        <rosparam command="load" file="$(find wallfollowing2)/cfg/fast.yaml" />
        <remap from="/cmd_vel" to="/vesc_sim/cmd_vel" />
    </node>
</launch>
